@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body, .draw {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom,  #232631 0%,  #333467 87%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.moon {
  background: #dddddc;
  border-radius: 50%;
  width: 166px;
  height: 166px;
  position: absolute;
  left: 144px;
  z-index: 2;
  top: 80px;
  overflow: hidden;
  box-shadow: 0 0 20px 2px #EBEBEB;
}
.moon:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.11);
  position: absolute;
  left: 35px;
  top: 35px;
}
.moon span {
  position: absolute;
  left: 40%;
  top: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  width: 6px;
  height: 6px;
}
.moon span:nth-child(2) {
  width: 16px;
  height: 16px;
  left: 20%;
  top: 40px;
  transform: skew(-5deg);
}
.moon span:nth-child(3) {
  left: 13%;
  top: 74px;
  width: 24px;
  height: 24px;
  transform: skew(4deg);
}
.moon span:nth-child(4) {
  left: 32%;
  top: 98px;
}
.moon span:nth-child(5) {
  left: 21%;
  width: 26px;
  height: 26px;
  top: 116px;
  transform: skew(13deg);
}
.moon span:nth-child(6) {
  left: 46%;
  width: 6px;
  height: 6px;
  top: 130px;
}
.moon span:nth-child(7) {
  left: 46%;
  width: 34px;
  height: 32px;
  top: 76px;
}
.moon span:nth-child(8) {
  left: 56%;
  width: 30px;
  height: 27px;
  top: 120px;
  transform: skew(-14deg);
}
.moon span:nth-child(9) {
  left: 80%;
  width: 16px;
  height: 16px;
  top: 102px;
  transform: skew(-14deg);
}
.moon span:nth-child(10) {
  left: 80%;
  width: 20px;
  height: 26px;
  top: 62px;
  transform: rotate(10deg);
}
.moon span:nth-child(11) {
  left: 71%;
  width: 6px;
  height: 6px;
  top: 100px;
}
.moon span:nth-child(12) {
  left: 81%;
  width: 6px;
  height: 6px;
  top: 46px;
}
.moon span:nth-child(13) {
  left: 66%;
  width: 16px;
  height: 16px;
  top: 54px;
}
.moon span:nth-child(14) {
  left: 65%;
  width: 20px;
  height: 16px;
  top: 23px;
}
.moon span:nth-child(15) {
  left: 48%;
  width: 20px;
  height: 20px;
  top: 38px;
}
.moon span:nth-child(16) {
  left: 42%;
  width: 6px;
  height: 6px;
  top: 64px;
}

.draw__bg, .draw__couple {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 700px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.mountain {
  width: 640px;
  height: 400px;
  background:#393A73;
  position: absolute;
  left: -230px;
  bottom: -25px;
  z-index: 1;
  transform: rotate(32deg) skewY(33deg);
  overflow: hidden;
}
.mountain span {
  background: #26274D;
  position: absolute;
  color: #26274D;
}
.mountain span:nth-child(1) {
  left: -115px;
  top: 0;
  width: 152px;
  height: 152px;
  transform: rotate(-55deg);
}
.mountain span:nth-child(1):before {
  content: "";
  position: absolute;
  right: 17px;
  top: 100%;
  width: 100px;
  height: 20px;
  background: currentColor;
  transform: skew(-60deg);
}
.mountain span:nth-child(2) {
  top: 100px;
  width: 190px;
  height: 180px;
  left: -44px;
  transform: rotate(100deg);
}
.mountain span:nth-child(3) {
  top: 140px;
  width: 190px;
  height: 190px;
  left: 50px;
  transform: rotate(100deg);
}

.mountain-right {
  position: absolute;
  right: -210px;
  top: 450px;
  z-index: 2;
  width: 500px;
  height: 500px;
  transform: rotateY(-180deg) skew(6deg);
}
.mountain-right .mountain {
  left: auto;
  right: auto;
}

.mountain-small {
  position: absolute;
  z-index: 1;
  right: -50px;
  top: 540px;
  width: 501px;
  height: 500px;
  transform: rotateY(-180deg) rotateX(30deg) skew(2deg);
}
.mountain-small .mountain {
  left: auto;
  right: auto;
}

.rock {
  position: absolute;
  bottom: 140px;
  left: 0;
  width: 230px;
  z-index: 4;
  height: 30px;
  background: #2c2665;
}
.rock:after {
  position: absolute;
  right: -8px;
  transform: skew(-15deg);
  width: 20px;
  height: 10px;
  background: #2c2665;
  content: "";
}
.rock:before {
  position: absolute;
  top: 1px;
  width: 100%;
  background: #2c2665;
  content: "";
  height: 12px;
  transform: skew(20deg) scaleY(1.5) rotate(-1deg);
  border-radius: 50%;
}
.rock span {
  position: absolute;
  background: #2c2158;
}
.rock span:nth-child(1) {
  top: 10px;
  left: -20px;
  height: 130px;
  width: 60px;
  transform: rotate(10deg);
  z-index: 4;
  box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.15);
}
.rock span:nth-child(1):after {
  content: "";
  width: 61px;
  transform: rotate(-10deg) skew(-14deg);
  top: -4px;
  height: 23px;
  position: absolute;
  left: 0;
  background: #2c2665;
}
.rock span:nth-child(1):before {
  width: 50px;
  background: #2c2158;
  position: absolute;
  top: 115px;
  height: 40px;
  content: "";
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  left: 3px;
  transform: rotate(31deg);
  background: linear-gradient(to bottom, #2c2158 0%, #231043 100%);
}
.rock span:nth-child(2) {
  top: 25px;
  left: 41px;
  height: 60px;
  width: 90px;
  z-index: 3;
  transform: skew(-10deg);
  box-shadow: 9px 8px 18px 0px rgba(0, 0, 0, 0.15);
}
.rock span:nth-child(2):after {
  content: "";
  width: 100%;
  transform: skew(43deg);
  top: -23px;
  height: 23px;
  position: absolute;
  left: -11px;
  background: #2c2665;
}
.rock span:nth-child(2):before {
  content: "";
  position: absolute;
  background: #2c2158;
  box-shadow: 9px 20px 18px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom, #2c2158 0%, #231043 100%);
  top: 28px;
  left: -29px;
  width: 90px;
  height: 140px;
  transform: rotate(30deg);
}
.rock span:nth-child(3) {
  top: 18px;
  left: 42px;
  height: 160px;
  z-index: 2;
  width: 108px;
  background: linear-gradient(to bottom, #2c2158 0%, #231043 100%);
  transform: skew(-30deg);
  box-shadow: 9px 8px 18px 0px rgba(0, 0, 0, 0.15);
}
.rock span:nth-child(3):after {
  content: "";
  width: 100%;
  transform: skew(58deg);
  top: -9px;
  height: 11px;
  position: absolute;
  left: -8px;
  background: #2c2665;
}
.rock span:nth-child(4) {
  top: 12px;
  width: 94px;
  height: 70px;
  left: 134px;
  transform: skew(-24deg) rotate(-14deg);
  z-index: 1;
}
.rock span:nth-child(4):before {
  content: "";
  position: absolute;
  background: #2c2158;
  top: 46px;
  right: 7px;
  width: 60px;
  height: 40px;
  background: linear-gradient(to bottom, #2c2158 22%, #231043 100%);
  transform: skewX(10deg) rotate(40deg);
}
.rock span:nth-child(4):after {
  content: "";
  position: absolute;
  background: #2c2158;
  top: 50px;
  background: linear-gradient(to bottom, #2c2158 0%, #231043 100%);
  right: 27px;
  width: 80px;
  height: 50px;
  transform: skewX(12deg) rotate(0);
}
.rock-right {
  left: auto;
  right: 0;
  transform: rotateY(180deg);
  z-index: 3;
}

.rock-shadow {
  position: absolute;
  bottom: 0;
  left: -27px;
  background: linear-gradient(to bottom, rgba(35, 16, 67, 0) 0%, #231043 80%, #231043 100%);
  width: 170px;
  transform: skew(-30deg);
  height: 120px;
  z-index: 6;
}
.rock-shadow.isright {
  left: auto;
  right: -27px;
  transform: skew(30deg);
}

.left {
  position: absolute;
  bottom: 290px;
  left: -6px;
  display: flex;
}
.left .tree:nth-child(2) {
  font-size: 5px;
  top: 80px;
  left: 50px;
}
.left .tree:nth-child(3) {
  font-size: 5.6px;
  z-index: 8;
  top: 76px;
  left: 76px;
}
.left .tree:nth-child(4) {
  font-size: 5.6px;
  top: 70px;
  left: 90px;
}
.left .tree:nth-child(5) {
  font-size: 3px;
  top: 96px;
  left: 120px;
}
.left .tree:nth-child(6) {
  font-size: 3.2px;
  top: 96px;
  left: 134px;
}
.left .tree:nth-child(7) {
  font-size: 4.3px;
  top: 84px;
  left: 154px;
}
.left .tree:nth-child(8) {
  font-size: 2.6px;
  top: 100px;
  left: 176px;
}
.left .tree:nth-child(9) {
  font-size: 2.9px;
  top: 95px;
  left: 186px;
}
.left .tree:nth-child(10) {
  font-size: 3px;
  top: 92px;
  left: 200px;
}
.tree {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  font-size: 12px;
}

.bough {
  -webkit-clip-path: polygon(50% 0, 100% 100%, 50% 88%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 50% 88%, 0 100%);
  background: linear-gradient(to right, #332863 0%, #291d53 100%);
}
.bough:nth-child(1) {
  width: 1.6em;
  height: 1.4em;
}
.bough:nth-child(2) {
  width: 2.6em;
  height: 2.2em;
  margin-top: -0.6em;
}
.bough:nth-child(3) {
  margin-top: -1.2em;
  width: 3.8em;
  height: 3em;
}
.bough:nth-child(4) {
  margin-top: -1.8em;
  width: 4.6em;
  height: 3.8em;
}

.body {
  height: 4.6em;
  width: 0.4em;
  margin-top: -0.52em;
  background: #2e2059;
  position: relative;
}
.body:before {
  width: 0.25em;
  height: 2.4em;
  position: absolute;
  left: 1em;
  bottom: -1.7em;
  content: "";
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(-65deg);
  border-raidus: 0 40% 40% 0;
}

.path {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  background: #2a1f56;
  height: 175px;
  z-index: 2;
  -webkit-clip-path: polygon(0 82%, 19% 84%, 46% 79%, 68% 63%, 84% 44%, 100% 0, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 6% 100%, 0 100%);
          clip-path: polygon(0 82%, 19% 84%, 46% 79%, 68% 63%, 84% 44%, 100% 0, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 6% 100%, 0 100%);
}

.bottom {
  position: absolute;
  bottom: -50px;
  left: 140px;
  height: 100px;
  width: 600px;
}
.bottom .bough {
  background: #2a1f56;
}
.bottom .body {
  background: #2a1f56;
}
.bottom .tree .body:before {
  display: none;
}
.bottom .tree:nth-child(1) {
  font-size: 3px;
  top: -4px;
  left: 40px;
}
.bottom .tree:nth-child(2) {
  font-size: 10px;
  top: -65px;
  left: 80px;
}
.bottom .tree:nth-child(3) {
  font-size: 4px;
  top: -10px;
  left: 70px;
}
.bottom .tree:nth-child(4) {
  font-size: 4px;
  top: -10px;
  left: 52px;
}
.bottom .tree:nth-child(5) {
  font-size: 4px;
  top: -15px;
  left: 120px;
}
.bottom .tree:nth-child(6) {
  font-size: 5px;
  top: -30px;
  left: 136px;
}
.bottom .tree:nth-child(7) {
  font-size: 3px;
  top: -8px;
  left: 158px;
}
.bottom .tree:nth-child(8) {
  font-size: 3.6px;
  top: -15px;
  left: 166px;
}
.bottom .tree:nth-child(9) {
  font-size: 3.6px;
  top: -15px;
  left: 182px;
}
.bottom .tree:nth-child(10) {
  font-size: 4.2px;
  top: -20px;
  left: 194px;
}
.bottom .tree:nth-child(11) {
  font-size: 3.5px;
  top: -15px;
  left: 214px;
}
.bottom .tree:nth-child(12) {
  font-size: 3.5px;
  top: -15px;
  left: 224px;
}
.bottom .tree:nth-child(13) {
  font-size: 4.4px;
  top: -20px;
  left: 242px;
}
.bottom .tree:nth-child(14) {
  font-size: 4.4px;
  top: -20px;
  left: 262px;
}
.bottom .tree:nth-child(15) {
  font-size: 4.4px;
  top: -20px;
  left: 280px;
}

.path-detail-left {
  background: #2a1f56;
  position: absolute;
  bottom: -50px;
  left: 84px;
  z-index: 1;
  width: 90px;
  height: 100px;
  -webkit-clip-path: polygon(48% 35%, 61% 3%, 72% 33%, 87% 1%, 100% 36%, 100% 65%, 0 66%, 0 36%, 0 1%, 18% 36%);
          clip-path: polygon(48% 35%, 61% 3%, 72% 33%, 87% 1%, 100% 36%, 100% 65%, 0 66%, 0 36%, 0 1%, 18% 36%);
}

.home {
  position: absolute;
  right: 92px;
  z-index: 8;
  bottom: 164px;
}
.home:before {
  position: absolute;
  height: 16px;
  width: 46px;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  bottom: -12px;
  left: 24px;
  opacity: 0.19;
  transform: skew(63deg);
}
.roof {
  width: 70px;
  height: 50px;
  background: #332059;
  -webkit-clip-path: polygon(50% 32%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 32%, 0% 100%, 100% 100%);
  position: relative;
  top: 1px;
  z-index: 2;
}
.roof:before {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 80px;
  transform: rotate(30deg);
  content: "";
  background: #342869;
}

.left-wall {
  width: 36px;
  height: 46px;
  background: #342869;
  left: 5px;
  position: relative;
  -webkit-clip-path: polygon(0 0, 36% 0, 36% 100%, 0 88%);
          clip-path: polygon(0 0, 36% 0, 36% 100%, 0 88%);
}
.left-wall:before {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  content: "";
  transform: rotate(24deg);
}

.wall {
  width: 49px;
  height: 46px;
  background: #332059;
  position: absolute;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.05) inset;
  top: 50px;
  right: 4px;
}

.window {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 65px;
  left: 35px;
  background: #342965;
  box-shadow: 0 0 10px 0.4px rgba(254, 208, 114, 0);
  -webkit-animation: window;
          animation: window;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.right {
  position: absolute;
  right: 0;
  bottom: 196px;
  width: 100px;
  height: 100px;
}
.right .tree:nth-child(1) {
  left: -92px;
  font-size: 7px;
  bottom: -30px;
}
.right .tree:nth-child(2) {
  left: -105px;
  font-size: 5px;
  bottom: -32px;
}
.right .tree:nth-child(3) {
  left: 24px;
  font-size: 4px;
  bottom: -32px;
}
.right .tree:nth-child(4) {
  left: 38px;
  font-size: 4px;
  bottom: -40px;
  z-index: 6;
}
.right .tree:nth-child(5) {
  left: 45px;
  z-index: 5;
  font-size: 7px;
  bottom: -38px;
}
.right .tree:nth-child(6) {
  left: 65px;
  font-size: 5px;
  bottom: -34px;
}
.right .tree:nth-child(7) {
  left: 14px;
  font-size: 3.4px;
  bottom: -34px;
}

.falling-star {
  z-index: 9;
  width: 190px;
  height: 2px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, white 33%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  border-radius: 50%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: falling;
          animation-name: falling;
  -webkit-animation-timing-function: cubic-bezier(0.33, 0.19, 0.26, 1.3);
          animation-timing-function: cubic-bezier(0.33, 0.19, 0.26, 1.3);
  top: -70px;
  transform: rotate(-45deg) translate3d(0, 0, 0);
  will-change: transform, width, opacity;
}
.falling-star:nth-of-type(1) {
  right: 40px;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}
.falling-star:nth-of-type(2) {
  right: 200px;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}
.falling-star:nth-of-type(3) {
  right: -180px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes falling {
  60%, 100% {
    transform: rotate(-40deg) translate3d(-560px, 0, 0);
    opacity: 0.5;
    width: 0;
  }
}

@keyframes falling {
  60%, 100% {
    transform: rotate(-40deg) translate3d(-560px, 0, 0);
    opacity: 0.5;
    width: 0;
  }
}
@-webkit-keyframes window {
  5% {
    background: #fed072;
    box-shadow: 0 0 10px 0.4px #fed072;
  }
  8% {
    background: #342965;
    box-shadow: 0 0 10px 0.4px rgba(254, 208, 114, 0);
  }
  10%, 100% {
    background: #fed072;
    box-shadow: 0 0 10px 0.4px #fed072;
  }
}
@keyframes window {
  5% {
    background: #fed072;
    box-shadow: 0 0 10px 0.4px #fed072;
  }
  8% {
    background: #342965;
    box-shadow: 0 0 10px 0.4px rgba(254, 208, 114, 0);
  }
  10%, 100% {
    background: #fed072;
    box-shadow: 0 0 10px 0.4px #fed072;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

#floating-rock-right {
  margin-top: auto;
  margin-bottom: auto;
  top: 300px;
  left: auto;
}

#floating-rock-left {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 200px;
  top: 300px;
  transform: scale(-1, 1);
}

.draw__couple img {
  margin-top: auto;
  margin-bottom: auto;
  top: 20px;
  position: relative;
  z-index: 4;
}

.draw__star {
  position: absolute;
  background-color: #fff;
  opacity: 0;
  -webkit-animation: star 2s ease-in-out infinite;
          animation: star 2s ease-in-out infinite;
}

@-webkit-keyframes star {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}

@keyframes star {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}

.draw__couple:hover .draw__balloon-a, 
.draw__couple:hover .draw__balloon-b {
  opacity: 1;
}

.draw__balloon-a, .draw__balloon-b {
    position: absolute;
    top: 50px;
    opacity: 0;
    transition: .5s;
}

.draw__balloon-a {
  left: 120px;
}

.draw__balloon-b {
  right: 150px;
}

.draw__balloon-a img, .draw__balloon-b img {
    top: 0;
}

.draw__balloon-a:before, .draw__balloon-b:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    margin: auto;
    bottom: -20px;
    box-shadow: 0px 0 0 transparent, 5px 0 0 white, 10px 0 0 white, 15px 0 0 transparent, 0px 5px white, 5px 5px white, 10px 5px white, 15px 5px white, 0 10px transparent, 5px 10px white, 10px 10px white, 15px 10px transparent;
}

.draw__balloon-a:before { right: 30px; }
.draw__balloon-b:before { left: 30px; }

